div.table {
  display: table;
  border: 0.5px  solid darkgrey;
}

div.table div.tr {
  display:table-row;
  border-bottom: 1px  solid darkgray;
}

div.table div.tr div {
  display: table-cell;
  border-bottom: 0.5px  solid darkgrey;
  border-left: 0.5px  solid darkgrey ;
}


div.table div.tr div span{
  margin: 5px;
}

div.table form {
  display:table-row;
  border-bottom: 1px  solid darkgray;
}

div.table form div {
  display: table-cell;
  border-bottom: 0.5px  solid darkgrey;
  border-left: 0.5px  solid darkgrey ;
}
