.create-button{
  display: -webkit-box;
  width: fit-content;
  padding-left: 7px;
  padding-right: 10px;
  border-radius: 18px;
  padding-top: 6px;
}

.title{
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  color: #013a81;
}
