<div class="parent">
  <div class="block z-depth-5">
    <div>
      <div class="row">
        <div class="center-align">
          <div style="background: #013a81;margin: 0 0 1vw;border-top-left-radius: 10px;border-top-right-radius: 10px;" class="input-field col s12 title-login">
            Авторизация
          </div>
        </div>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" autocomplete="off" [formControl]="email">
              <label for="email">Электронная почта</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" autocomplete="off" [formControl]="password">
              <label for="password">Пароль</label>
            </div>
            <div class="center-align">
              <div class="input-field col s12">
                <a class="waves-effect waves-light btn" *ngIf="!showSpinner" (click)="login()">Войти</a>
              </div>
              <div class="preloader-wrapper big active" *ngIf="showSpinner">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
