<app-header></app-header>
<div class="container">
  <table class="striped centered space z-depth-5">
    <thead>
    <tr>
      <th>Id</th>
      <th>Клиент</th>
      <th>Дата создания</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>
    <tr>
      <td>1</td>
      <td>УралХим</td>
      <td>05.12.1993</td>
    </tr>



    </tbody>
  </table>
</div>
<app-footer></app-footer>

