<nav class="white" *ngIf="false">
  <div class="nav-wrapper primary-color">
    <div class="brand-logo">
      <img src="assets/imgs/logo-icon.png" alt="" width="34px">
      <img src="assets/imgs/logo-text.png" alt="">
    </div>
    <ul id="nav-mobile " class="right  hide-on-med-and-down ">
      <li><a class="blue-text">Анкеты</a></li>
      <li><a class="blue-text">Пользователи</a></li>
      <li><a class="blue-text">Словари</a></li>
      <li><a class="blue-text" routerLink="login">Выход</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
