<form [formGroup]="form" (ngSubmit)="submit(form)" style="width: 350px;">
  <h1 mat-dialog-title>Создать пользователя</h1>
  <mat-dialog-content>
    <div class="row">
      <div class="input-field col s12">
        <input id="firstName" formControlName="firstName" type="text" class="validate" autocomplete="off" required>
        <label for="firstName">Имя</label>
      </div>
      <div class="input-field col s12">
        <input id="lastName" formControlName="lastName" type="email" class="validate" autocomplete="off" required>
        <label for="lastName">Фамилия</label>
      </div>
      <div class="input-field col s12">
        <input id="email" formControlName="email" type="email" pattern="{{emailPattern}}" class="validate"
               autocomplete="off" required>
        <label for="email">Электронная почта</label>
      </div>
      <div class="input-field col s12">
        <input id="password" formControlName="password" type="password" class="validate" autocomplete="off" required>
        <label for="password">Пароль</label>
      </div>
      <div class="input-field col s12">
        <input id="password2" formControlName="password2" type="password" class="validate" autocomplete="off" required>
        <label for="password2">Повторите Пароль</label>
      </div>
      <div class="input-field col s12" *ngIf="error">
        <div class="center-align">
          <div style="color: red; font-size: 12px">
            {{error}}
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Создать</button>
    <button mat-button type="button" mat-dialog-close>Отмена</button>
  </mat-dialog-actions>
</form>
