<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper primary-color">
      <div class="brand-logo">
        <img src="assets/imgs/logo-icon.png" alt="" width="34px">
        <img style="padding-left: 20px;" src="assets/imgs/logo-text.png" alt="">
      </div>
      <ul id="nav-mobile " class="right  hide-on-med-and-down ">
        <li><a class="blue-text" routerLink="/questionnaires">Анкеты</a></li>
        <li><a class="blue-text" routerLink="/users">Пользователи</a></li>
        <li><a class="blue-text" routerLink="/dictionaries">Словари</a></li>
        <li><a class="blue-text" (click)="logout()">Выход</a></li>
      </ul>
    </div>
  </nav>
</div>
