<div style="    margin-bottom: 5%;" class="container" *ngIf="!showSpinner && crops && profiles">
  <div class="space title">
    Культуры
  </div>
  <table class="striped centered space z-depth-5">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Профиль</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr [formGroup]="form">
      <td></td>
      <td><input type="text" formControlName="name" placeholder="Название культуры"></td>
      <td>
        <mat-form-field>
          <mat-select [(value)]="selected">
            <mat-option *ngFor="let profile of container.profiles" [value]="profile.id">
              {{profile.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td style="width: 20%;">
        <a class="waves-effect btn blue" (click)="create(form)"><i class="Tiny material-icons">add</i></a>
      </td>
    </tr>
    <tr *ngFor="let crop of crops; let i = index;">
      <td>{{i+1}}</td>
      <td>
        <span *ngIf="!crop.edit">{{crop.name}}</span>
        <div *ngIf="crop.edit" [formGroup]="formUpdate">
          <input type="text" formControlName="name" value="{{crop.name}}" required>
        </div>
      </td>
      <td>
        <div *ngIf="!crop.edit">
          <div *ngFor="let profile of profiles">
          <span *ngIf="crop.profile_id === profile.id">
            {{profile.name}}
          </span>
          </div>
        </div>
        <mat-form-field *ngIf="crop.edit">
          <mat-select [(value)]="selectToUpdate">
            <mat-option *ngFor="let profile of container.profiles" [value]="profile.id">
              {{profile.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td style="width: 20%;">
        <div *ngIf="!crop.edit">
          <a class="btn blue"><i class="Tiny material-icons" (click)="showUpdate(i)">create</i></a>
          <a class="btn red" (click)="remove(i)"><i class="Tiny material-icons">delete</i></a>
        </div>
        <div *ngIf="crop.edit">
          <button class="btn blue" (click)="update(formUpdate, i)" [disabled]="formUpdate.invalid"><i
            class="Tiny material-icons">save</i></button>
          <a class="btn red" (click)="showUpdate(i)"><i class="Tiny material-icons">close</i></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="showSpinner" class="center-align space">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
